{{ block "index" . }}
  <!doctype html>
  <html lang="en">
    <head>
      <title>Document</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"
      ></script>
    </head>
    <body>
      {{ template "form" .Form }}
      <hr />
      {{ template "display" .Data }}

      <script>
        document.addEventListener("DOMContentLoaded", (event) => {
          document.body.addEventListener("htmx:beforeSwap", function (evt) {
            if (evt.detail.xhr.status === 422) {
              evt.detail.shouldSwap = true;
              evt.detail.isError = false;
            }
          });
        });
      </script>
    </body>
  </html>
{{ end }}


{{ block "form" .Form }}
  <form hx-swap="outerHTML" hx-post="/contacts">
    Name:
    <input
      {{ if
        .Values.name
      }}
        value="{{ .Values.name }}"
      {{ end }}
      type="text"
      name="name"
    />
    Email:
    <input
      {{ if
        .Values.email
      }}
        value="{{ .Values.email }}"
      {{ end }}
      type="text"
      name="email"
    />
    {{ if .Errors.email }}
      <div style="color: red">{{ .Errors.email }}</div>
    {{ end }}
    <button type="submit">submit</button>
  </form>
{{ end }}


{{ block "display" . }}
  <div
    id="contacts"
    style="display: flex; flex-direction: column; align-items: flex-start"
  >
    {{ range .Contacts }}{{ template "contact" . }}{{ end }}
  </div>
{{ end }}


{{ block "contact" . }}
  <div>Name: <span>{{ .Name }}</span> Email: <span>{{ .Email }}</span></div>
{{ end }}


{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">{{ template "contact" . }}</div>
{{ end }}
